

  body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}


.container {
    margin-top: 50px;
}
.tech-card {
    background: linear-gradient(to bottom, #ffe5d9, #ffccb3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}
.tech-card:hover {
    transform: translateY(-5px);
}
.tech-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.tech-name{
    font-weight: bold;
}